.img  {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}
.fa-square-green {
  color: #b3fcb0;
}

.fa-square-red{
  color: #fcb7b0;
}
