.employee-item{
  margin: 5px 10px 5px 0px;
  font-size: 17px;
  border-bottom: 1px solid #eeeeee;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.greenClass { background-color: #d3f4d2 }
.redClass { background-color: #f9cfca }
